@model Storeonline.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD

=======
<style>
    .fromlg {
        width: 40%;
        text-align: center;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
</style>
>>>>>>> Storeonline/thienlam

<body>



    @Html.ValidationMessage("Error", new { @style = "color:red" })
    @using (Html.BeginForm("Login", "Customer", FormMethod.Post))
    {

<<<<<<< HEAD
        <div class="container">

            <div class="row" style="margin-top:50px; margin-bottom:50px">
                <div class="col-lg-4">
                    <center><h2 style="color:#0091EA;margin-top:150px; align-content:center; font-family:'Noto Serif'">Chào mừng đến với Smobile Premium</h2></center>
                </div>
                <div class="col-lg-8">
                    <div class="card" style="margin:50px">
                        <center><div class="card-header" style="font-weight:bold">ĐĂNG NHẬP </div></center>
                        <div class="card-body">
                            <!--Thông báo lỗi hiển thị-->
                            @if (TempData["AlertMessage"] != null)
                            {
                                <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert" style="margin-bottom:10px">
                                    @TempData["AlertMessage"]
                                </div>
                            }

                            <input required="" type="text" value="" placeholder="Username" class="text form-control" aria-describedby="basic-addon1" name="Username" id="Username">
                            <input required="" type="password" value="" placeholder="Password" class="text form-control" aria-describedby="basic-addon1" name="Password" id="Password">

                            <div class="resetorregister">
                                <a href="#"><ins>Quên mật khẩu</ins></a> &nbsp; <a placeholder>|</a> &nbsp; <a href="@Url.Action("Signup", "Customer")"><ins>Đăng kí</ins></a>
                            </div>
                            <br>

                            <center><button type="submit" class="btn btn-primary">ĐĂNG NHẬP</button></center>
                        </div>
                    </div>
                </div>
            </div>

        </div>
=======

    <div class="fromlg">
        <center><div class="card-header" style="font-weight:bold">ĐĂNG NHẬP </div></center>
        <div class="card-body">
            <!--Thông báo lỗi hiển thị-->
            @if (TempData["AlertMessage"] != null)
            {
    <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert" style="margin-bottom:10px">
        @TempData["AlertMessage"]
    </div>}

            <input required="" type="text" value="" placeholder="Username" class="text form-control" aria-describedby="basic-addon1" name="Username" id="Username" style="width:100%">
            <input required="" type="password" value="" placeholder="Password" class="text form-control" aria-describedby="basic-addon1" name="Password" id="Password" style="width:100%">

            <div class="resetorregister">
                <a href="#"><ins>Quên mật khẩu</ins></a> &nbsp; <a placeholder>|</a> &nbsp; <a href="@Url.Action("Signup", "Customer")"><ins>Đăng kí</ins></a>
            </div>
            <br>
            <center><button type="submit" class="btn btn-primary">ĐĂNG NHẬP</button></center>
        </div>
    </div>
>>>>>>> Storeonline/thienlam
    }
</body>