@model PagedList.IPagedList<Storeonline.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*Main Slider Start*@
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i>Best Selling</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-plus-square"></i>New Arrivals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion & Beauty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids & Babies Clothes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men & Women Clothes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets & Accessories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-microchip"></i>Electronics & Accessories</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="header-slider normal-slider">
                        <div class="header-slider-item">
                            <img src="#" alt="Slider Image" />
                            <div class="header-slider-caption">
                                <p>Some text goes here that describes the image</p>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                        <div class="header-slider-item">
                            <img src="#" alt="Slider Image" />
                            <div class="header-slider-caption">
                                <p>Some text goes here that describes the image</p>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                        <div class="header-slider-item">
                            <img src="#" alt="Slider Image" />
                            <div class="header-slider-caption">
                                <p>Some text goes here that describes the image</p>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header-img">
                        <div class="img-item">
                            <img src="#" />
                            <a class="img-text" href="">
                                <p>Some text goes here that describes the image</p>
                            </a>
                        </div>
                        <div class="img-item">
                            <img src="#" />
                            <a class="img-text" href="">
                                <p>Some text goes here that describes the image</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Main Slider End
        Brand Start*@
    <div class="brand">
        <div class="container-fluid">
            <div class="brand-slider">

            </div>
        </div>
    </div>
    @*Brand End*@


    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                int discount = item.Price - item.PromotionPrice;
                <div class="card" style="width:16rem;margin:10px">

                    <a href="@Url.Action("DetailProducts", "Home", new { id = item.ProductID})">
                        <div class="img">
                            <img src=" @Url.Content(item.ProductImage) " class="card-img-top" alt="Phone Photo">
                        </div>
                    </a>
                    <div class="card-body">
                        <a href="@Url.Action("DetailProducts", "Home", new { id = item.ProductID })">
                            <h3 class="card-title">@item.ProductName</h3>
                            <p class="card-text"> @item.Description</p>
                            <h4 style="color:red; font-size:larger;font-weight:bold ;font-family:'Noto Serif'"> @discount.ToString("#,#00")đ </h4>
                            <strike style="color:gray"><h5 style="color:gray;font-size:small;font-family:'Noto Serif'"> @item.Price.ToString("#,#00")đ  </h5></strike>
                        </a>
                        <br />
                    </div>
                </div>
            }


        </div>
    </div>

    <div class="col-sm-12" style="text-align:center;">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</body>
</html>
