@model Storeonline.Models.InvoiceDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>InvoiceDetails</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Invoice.InvoiceCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Invoice.InvoiceCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Product.ProductCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Product.ProductCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PromotionPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PromotionPrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceDetailsID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
